
.page.prev
  %h1 
    - link_to "Mobilize", "/"
  %img{ src: "/img/3.jpg" }

.page.main
  %h1 
    - link_to "Mobilize", "/"
  %img{ src: "/img/1.jpg" }

.page.next
  %h1 
    - link_to "Mobilize", "/"
  %img{ src: "/img/2.jpg" }
