%html
  %head
    %title Mobilize
    %link{ rel: "stylesheet", href: "/css/main.css" }

    %meta{ content: "yes", name: "apple-mobile-web-app-capable" }
    %meta{ content: "width=device-width, initial-scale=1.0, user-scalable=no", name: "viewport" }
    %meta{ content: "black", name: "apple-mobile-web-app-status-bar-style" }
  %body.preload
    #container
      %section.content= yield
    %script{ type: "text/javascript", src: "/js/vendor/zepto.js" }
    %script{ type: "text/javascript", src: "/js/app.js" }